<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5qis-H57dR5PfhSxNZUrz3JaiJn9aU4g</string>
	<key>GCM_SENDER_ID</key>
	<string>1050666510627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artVault2</string>
	<key>PROJECT_ID</key>
	<string>artvault-125cd</string>
	<key>STORAGE_BUCKET</key>
	<string>artvault-125cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050666510627:ios:7b10239a5818ed3d5d0496</string>
</dict>
</plist>